@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #9c7141;
  --secondary-color: #144365;
}

body {
  max-width: 80vw;
  font-family: Montserrat, sans-serif;
  margin: 0 auto !important;
}

header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  /* para compensar o margin do topo */
  padding: 0 2rem 1rem;
  margin: 1rem 2rem;
  border-bottom: 1px solid #a3bac6;

  & #logo_header {
    width: 20svw;
  }
}

a {
  text-decoration: none;
  font-weight: 600;
  text-align: center;

  &:visited {
    color: inherit;
  }

  &.button {
    display: block;
    width: 15svw;
    background: var(--main-color);
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }
}

#main_title {
  color: var(--main-color);
}

section.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  justify-content: space-around;
  gap: 1.5rem;

  & .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;

    background: var(--secondary-color);
    padding: 1.25rem;
    border-radius: 0.5rem;

    & h2 {
      font-size: 1.75rem;
      color: white;
      text-align: center;
    }

    & img {
      border-radius: 0.5rem;
      width: 100%;
      display: block;
    }
  }
}
